/* === UNIVERSAL === */
html, body {
    margin: 0;
	height: 100%;
    overflow: hidden;
}

/* Whiteout */
.whiteout {
    position: absolute;
    z-index:99999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    font-weight: lighter;
    text-align: center;
}

.whiteout #topText{
    font-size: 30pt;
    padding-top: 15%;
    margin-bottom: 0pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.whiteout #bottomText{
    font-size: 50pt;
    bottom: 15%;
    margin-top: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Zone Name Element */
#zoneTitleWrapper div{
    position: absolute;
    font-size: 40;
    align-content: center;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.2;
}

/* Map */
#mapObject {
    height: 100vh;
    width: 100vw;
}


/* Pin */
/* Stack Overflow */
.pinNat {
    content: '';
    background-color: red;
    border-radius: 50% 50% 50% 0;
    top: -20px;
    left: -10px;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    margin-right: 5px;
}

.pinBlock {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
}

.pinBlock:hover{
    font-weight: bold;
}

.pinBlock:hover .pinNat{
    transform: scale(1.2) rotate(-45deg);
}

.pinText p {
    margin: 0px
}

.pinText .pinTitle {
    font-size: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.pinText .pinDesc {
    font-size: 6pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* ZoomOut Button */
.overlayButton {
    position: absolute; 
    opacity: 0.5;
    top: 5%;
    left: 95%;
    width: 2%;
    height: auto;
}

.overlayButton:hover {
    opacity: 1.0;
    cursor: pointer;
}


/* SideArea */
#sideArea{
    position: absolute;
    height: 100%;
    width: 220px;
    top: 0px;
    transition: 1s;
	box-shadow: 0px 0px 6px lightgray;
}

.hide{
    left: -220px;
}

.show{
    left: 0px;
}

#sideBar{
    background-color: white;
    height: 100%;
    width: 220px;
}

#sideMinButton{
    background-color: lightgray;
    position: absolute;
    top: 50px;
    left: 220px;
    height: 50px;
    width: 20px;
	box-shadow: 1px 0px 1px gray;
}


/* SearchBar */
#searchBar{
    top: 10px;
    left: 10px;
    width: 200px;
    height: 30px;
    position: absolute;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 6px lightblue;
}

#searchField{
    background-color: transparent;
    margin-left: 5px;
    width: 190px;
    height: 30px;
    font-size: 10pt;
    color: #222222;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
	border-color: transparent;
}

#searchField:focus {
    outline-width: 0;
}

#clearText{
    position: absolute;
    top:30px;
    left: 180px;
    color:white;
    font-size: 10pt;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    opacity: 0.5;
}

#clearText:hover {
    text-decoration: underline;
    opacity: 1.0;
    cursor: pointer;
}

.listItem{
    border-color: grey;
    border-width: 2px;
    box-shadow: 0px 0px 2px lightgray;
    padding: 4px;
    cursor: pointer;
}

.listItem .title{
    margin-top: 0px;
    margin-bottom: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.listItem .shortDescrip{
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 8pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* Zone Text */
.zoneDisplayName {
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

/* Full Screen */
#fullscreenX{
    /*background: #f90;*/
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 30px;
    margin-left: auto;
    margin-right: 2.5%;
    cursor: pointer;
    /*border-radius: 5px;*/
}

#fullscreenWrapper{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #11111155;
    padding: 25px;
}

#fullscreenContainer{
    width: 96%;
    height: 85%;
    background-color: white;
	box-shadow: 0px 0px 6px lightgray;
}